/* Fundo geral da página */
body {
  margin: 40px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f0f0;
 /* display: flex; */
  flex-direction: column;
  align-items: center;
 justify-content: center;
 /* min-height: 200vh; */
}

/* Quadro principal com fundo roxo */
.container {
  background-color: #6a0dad; /* roxo */
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  color: white;
  max-width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

h1 {
  margin-bottom: 10px;
}

#titulo {
  font-size: 18px;
  margin-bottom: 20px;
  color: #ffffcc;
}

audio {
  width: 50%;
  margin-bottom: 20px;
}

.botoes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.botoes button {
  background-color: #ffffff33;
  border: none;
  padding: 12px 18px;
  font-size: 20px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.botoes button:hover {
  background-color: #ffffff66;
}

/* Letreiro inferior */

.letreiro {
  background: linear-gradient(to right, #6600cc, #9900ff);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 0 auto;
  width: 800px; /* ou o mesmo valor da player-box */
  text-align: center;
  font-weight: bold;
}
#mensagem {
  color: white;
  font-size: 20px;
  white-space: nowrap;
  animation: deslizarMensagem 60s linear infinite;
}

@keyframes deslizarMensagem {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.player-box {
 /* position: fixed; */
  top: 60px; /* ajuste conforme desejar */
  left: 50%;
  transform: translateX(-50%);
  background-color: #6600cc;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
